@import "tailwindcss";
@config "../../tailwind.config.js";
@import "./app.css";
@plugin "daisyui";



.bg-custom {
    background: #0a3254;
    background: linear-gradient(153deg, rgba(10, 50, 84, 1) 0%, rgba(41, 37, 102, 1) 50%);
}

.bg-message-user {
    background: #24649c;
    background: linear-gradient(94deg, rgba(36, 100, 156, 1) 0%, rgba(55, 88, 161, 1) 100%);
}

.bg-message-ai {
    background: #fafafa;
    background: linear-gradient(129deg, rgba(250, 250, 250, 1) 60%, rgba(240, 240, 240, 1) 100%);
}
