---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm.svelte";
---

<Layout>
	<section class="flex bg">
		<div class="w-1/3 rounded-tr-4xl rounded-br-4xl bg-sidebar-login">
			<LoginForm client:load />
		</div>
		<div class="w-auto">
			<!-- <img class="w-full object-cover" src="/img/bg-login.webp" alt="Actifs" /> -->
		</div>
	</section>
</Layout>

<style>
	.bg {
		background: url("img/bg-login.webp");
		background-size: cover;
		background-position: center;
	}

	.bg-sidebar-login {
		background: #0a315488;
		background: linear-gradient(153deg, #0a3154da 0%, #2925669d 50%);
		backdrop-filter: blur(15px);
	}
</style>
