---
import ContainerThread from "@/components/ContainerThread.astro";
import Layout from "./Layout.astro";
---

<Layout>
  <div class="h-screen p-3 flex gap-3">
    <ContainerThread />
    <slot />
  </div>
</Layout>
